html {
    background-color: #869960;
  }
  
  body {
    font-family: Tahoma, sans-serif;
    font-size: 87%;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .container {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
  }
  
  header {
    padding-top: 20px;
    color: #617140;
  }
  
  header h1 {
    margin: 0;
    font-weight: normal;
    font-size: 165%;
  }
  
  header p {
    margin: 0;
  }
  
  /* Site Navigation */
  .site-nav {
    margin-top: 20px;
  }
  
  .site-nav ul {
    margin: 0;
    padding: 0;
  }
  
  .site-nav li {
    list-style: none;
    float: left;
    margin-right: 5px;
  }
  
  .site-nav a {
    display: block;
    color: #617140;
    text-decoration: none;
    padding: 10px 20px;
    border: 3px solid #e5e9dc;
    border-bottom: none;
  }
  
  .site-nav a:hover {
    background-color: #e5e9dc;
  }
  @media screen and (max-width:700px) {
    .site-nav li{
        width: 33.332%;
        margin-right: 0;
    }
    .site-nav a{
        padding: 15px 0;
        margin-right: 5px;
        margin-bottom: 5px;
        text-align: center;
    }
    
  }
  @media screen and (max-width:480px) {
    .site-nav li{
        width: 50%;
    }
  }
   
  
  /* End Site Navigation */
  
  .content-area {
    border-top: 3px solid #e5e9dc;
    border-bottom: 3px solid #e5e9dc;
  }
  
  .main-area {
    width: 66%;
    float: left;
    padding-right: 40px;
    box-sizing: border-box;
  }
  
  .sidebar {
    width: 34%;
    float: left;
    background-color: #e5e9dc;
    padding: 20px 40px;
    box-sizing: border-box;
    font-size: 85%;
  }
  
  @media screen and (max-width:700px) {
    .main-area,
    .sidebar{
        width: auto;
        float: none;
    }
    .main-area{
        padding-right: 0;
    }
    
  }
  @media screen and (min-width:1300px) {
    body{
        font-size: 17px;
    }
    .container{
        max-width: 1200px;
    }
    
  }
  @media screen and (max-width:480px) {
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }

  }
  @media screen and (max-width:480px) {
    .content-area{
        padding-top: 20px;
    }
    
  }
  footer {
    text-align: center;
    font-size: 85%;
    color: #999;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  
  .fix {
    clear: both;
  }
  
  .group:before,
  .group:after {
    content: "";
    display: table;
  }
  
  .group:after {
    clear: both;
  }
  
  .group {
    zoom: 1;
  }
  .co{
    color: rgb(164, 14, 14);
    line-height: 25px;
  }
  
  .xo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.7;
    line-height: 35px;
  }
  
